td.platform {
  text-align: center;
  font-size: 20px;
}
tr.expired {
  background-color: #f8d7da !important;
}

.select {
  padding: 5px 30px 5px 10px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  top: -1px;
  background: #f1f3f6
    url('//cdn.humblebundle.com/static/hashed/ce14e404160fcb5d989503e532c4324f0297014d.gif')
    no-repeat 90% 50%;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.btn {
  background-color: #e9e9ed;
  border: 1px solid #8f8f9d;
  border-radius: 5px;
  padding: 1px 4px;
}

.row_actions {
  display: flex;
  gap: 2px;
}
