/* global css */

/* Make the container a bit wider, default is 940*/
.base-main-wrapper,
.inner-main-wrapper {
  width: 1020px !important;
}

#hb_extractor-container {
  margin-bottom: 15px;
}

#hb_extractor-container details {
  display: unset;
  width: 100%;
}

#hb_extractor-container .dtsb-titleRow {
  display: none;
}
